@import "bootstrap/scss/bootstrap";

@import "/src/scss/variables/variables.scss";

@import "/src/scss/component/button.scss";
@import "/src/scss/component/logo.scss";
@import "/src/scss/component/card.scss";

@import "app/landingpage/component/header/header.scss";
@import "app/landingpage/component/heroSection/heroSection.scss";
@import "app/landingpage/component/shipsSection/shipsSection.scss";
@import "app/landingpage/component/parrotSection/parrotSection.scss";
@import "app/landingpage/component/eventSection/eventsSection.scss";
@import "app/landingpage//component/timeLineSection/timeLineSection.scss";
@import "app/landingpage/component/footerSection/footerSection.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    &::-webkit-scrollbar {
        display: none;
    }
}
